@import "../../../assets/styles/app.scss";

.weather {
  @include padding(40px 0);

  .box {
    max-width: 1400px;
    @include padding(10px);
    background-color: rgba(0, 0, 0, 0.5);

    .current {
      width: 70%;
      .today__weather {
        @include padding(20px 40px);

        .submit__search {
          border: 1px solid rgb(138, 134, 134);
          @include padding(5px);
          display: none;
          box-shadow: 0 0 1px $black;
        }

        .search-input {
          border: 1px solid $black;
          border-radius: 30px;
          background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");
          background-position: 10px 7px;
          background-repeat: no-repeat;
          @include padding(8px 20px 8px 40px);
          -webkit-transition: width 0.8s ease-in-out;
          transition: width 0.8s ease-in-out;
          outline: none;
          opacity: 0.9;
        }
      }
      .today-forecast__weather {
        height: 200px;
        @include margin(10px);
        @include padding(15px);
        background-color: rgb(11 10 10 / 50%);
        .today-forecast__weather-box {
          @include padding(10px);
          @include margin(15px 0);
          width: 11%;
          border-right: 1px solid $white;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    .forecast {
      width: 30%;
      @include margin(10px);
      @include padding(15px);
      background-color: rgb(11 10 10 / 50%);
      .day-forecast__weather-box {
        .weather-img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
